<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4BRYEGE2R2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-4BRYEGE2R2');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="favicon.ico" />

    <!-- OGP/TwitterCard -->
    <meta property="og:title" content="オフボーカル音源検索サービス" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://okurisae.github.io/off-vocal-finder/" />
    <meta property="og:image" content="https://okurisae.github.io/off-vocal-finder/img/off-vocal_finder_ogp.png" />
    <meta property="og:site_name" content="Off-Vocal Finder" />
    <meta property="og:description" content="歌ってみたなどに利用できるアレンジ音源を検索できます。商業楽曲等、原盤音源が提供されにくい楽曲の二次利用可能なカラオケ音源 1,776 曲が検索可能です。" />
    <meta name="twitter:card" content="summary_large_image" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4BRYEGE2R2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-4BRYEGE2R2');
    </script>

    <!-- Site Properties -->
    <title>アレンジ音源検索 | Off-Vocal Finder</title>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>

    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }

        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }

        .main.container {
            margin-top: 7em;
            margin-bottom: 2em;
        }

        .wireframe {
            margin-top: 2em;
        }

        .ui.grid>.column:not(.row) {
            padding-bottom: 0em;
        }

        .ui.grid {
            padding-bottom: 1em;
        }

        .ui.selection.dropdown {
            min-width: 10em;
        }

        table {
            width: 100%;
            table-layout: fixed;
            word-break: break-all;
            word-wrap: break-all;
        }
    </style>

</head>

<body>

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="index.html" class=" header item" >
                Off-Vocal Finder
            </a>
            <a href="official_inst_finder.html" class="header item">
                公式音源検索（ボカロ系）
            </a>
            <a href="arrange_inst_finder.html" class="header item">
                アレンジ音源検索
            </a>
        </div>
    </div>

    <div class="ui main text container">
        <h1 class="ui header">アレンジ音源検索</h1>
        <p>楽曲のカバーなどに利用できるアレンジ音源を検索できます。<br>
            商業楽曲等、原盤音源が提供されにくい楽曲の二次利用可能なカラオケ音源 1,776 曲が検索可能です。</p>
        <p>楽曲データや権利情報の修正/追加のリクエストは<a href="https://docs.google.com/forms/d/e/1FAIpQLSedHN_AMbsIgc0lzIOSG3lapa-iSRH2foRPqVJrUBxSA_DnPQ/viewform?usp=sf_link" target="_blank">こちら</a>からお願いします。</p>

        <h3>検索条件</h3>

        <div class="ui grid" id="search">

            <div class="six wide column">
                <select class="ui dropdown fluid" ref="category" v-on:change="search">
                    <option value="">ジャンル</option>
                    <option value="all">全て</option>
                    <option value="アニメ・ゲーム">アニメ・ゲーム</option>
                    <option value="アイドル">アイドル</option>
                    <option value="ボカロ系">ボカロ系</option>
                    <option value="邦楽 2010年～">邦楽 2010年～</option>
                    <option value="邦楽 2000年～2010年">邦楽 2000年～2010年</option>
                    <option value="邦楽 ～2000年">邦楽 ～2000年</option>
                    <option value="K-POP">K-POP</option>
                    <option value="洋楽">洋楽</option>
                </select>
            </div>

            <div class="ten wide column">
                <div class="ui search item">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="Search" v-on:keyup="search" ref="word" v-bind:value="q">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            <div class="sixteen wide column">
                <div class="ui checkbox item">
                    <input type="checkbox" name="isJasracOrNexTone" ref="isJasracOrNexTone" v-on:change="search">
                    <label>JASRAC / NexTone 管理楽曲のみ</label>
                </div>
            </div>

        </div>

        <div id="list">
            <div class="ui horizontal divider">検索結果: {{datas.length}} 件中 {{start}} - {{end}} 件を表示</div>

            <div class="ui divided items">
                <div class="item" v-for="data in datas.slice(start-1, end)" style="padding-bottom: 0;">
                    <div class="content">
                        <div class="header">
                            {{data.song_name}} / {{data.artist}}
                        </div>

                        <div class="extra" style="margin-top: 0; margin-left: 1em;">
                            : Arranged by {{data.inst_creator}}
                        </div>

                        <div class="description item" style="margin-bottom: .75em;">
                            <p>
                                <a v-bind:href="data.content_url" target="_blank">
                                    <u><b>{{data.content_name}}</b></u>
                                </a>
                            </p>
                        </div>

                        <div class="extra">
                            <div class="left floated" style="padding-bottom: .5em;">
                                <template v-if="data.rigths_holder=='JASRAC'">
                                    <a
                                        class="ui teal label"
                                        v-bind:data-tooltip="'作品コード: ' + data.rights_code"
                                        data-position="bottom left"
                                        data-inverted=""
                                        href="https://www.jasrac.or.jp/news/20/interactive.html"
                                        target="_blank">
                                        JASRAC管理楽曲
                                    </a>
                                </template>
                                <template v-if="data.rigths_holder=='NexTone'">
                                    <a
                                        class="ui teal label"
                                        v-bind:data-tooltip="'作品コード: ' + data.rights_code"
                                        data-position="bottom left"
                                        data-inverted=""
                                        href="https://www.nex-tone.co.jp/YouTube_FAQ/"
                                        target="_blank">
                                        NexTone管理楽曲
                                    </a>
                                </template>
                                <div class="ui label">
                                    {{data.category}}
                                </div>
                                <a class="ui label" v-bind:href="data.inst_license" target="_blank">
                                    <i class="linkify icon"></i>音源利用規約
                                </a>
                                <a class="ui label"
                                    v-bind:href="`arrange_inst_finder.html?q=${data.song_name} / ${data.artist}`"
                                    data-tooltip="右クリックでアドレスをコピーしてね"
                                    data-position="bottom left">
                                    <i class="paper plane outline icon"></i>リクエスト
                                </a>
                            </div>
                            <div class="right floated" style="padding-top: .5em;">
                                最終更新日: {{data.updated_at}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui center aligned grid" id="paging" style="margin-top: 1em;">
            <div class="ten wide column">
                <div class="ui mini input">
                    <input type="text" style="width:50px" ref="start" value="1" v-on:change="paging">
                </div>
                -
                <div class="ui mini input">
                    <input type="text" style="width:50px" ref="end" value="20" v-on:change="paging">
                </div>
                件を表示
            </div>
        </div>

        <div class="ui horizontal divider" style="margin-top: 2em; margin-bottom: 2em;">
            <i class="gift icon"></i>
            あなたへのオススメ
            <i class="gift icon"></i>
        </div>

        <div id="recommend">
            <div class="ui divided items">
                <div class="item" v-for="data in recommends" style="padding-bottom: 0;">
                    <div class="content">
                        <div class="header">
                            {{data.song_name}} / {{data.artist}}
                        </div>

                        <div class="extra" style="margin-top: 0; margin-left: 1em;">
                            : Arranged by {{data.inst_creator}}
                        </div>

                        <div class="description item" style="margin-bottom: .75em;">
                            <p>
                                <a v-bind:href="data.content_url" target="_blank">
                                    <u><b>{{data.content_name}}</b></u>
                                </a>
                            </p>
                        </div>

                        <div class="extra">
                            <div class="left floated" style="padding-bottom: .5em;">
                                <template v-if="data.rigths_holder=='JASRAC'">
                                    <a
                                        class="ui teal label"
                                        v-bind:data-tooltip="'作品コード: ' + data.rights_code"
                                        data-position="bottom left"
                                        data-inverted=""
                                        href="https://www.jasrac.or.jp/news/20/interactive.html"
                                        target="_blank">
                                        JASRAC管理楽曲
                                    </a>
                                </template>
                                <template v-if="data.rigths_holder=='NexTone'">
                                    <a
                                        class="ui teal label"
                                        v-bind:data-tooltip="'作品コード: ' + data.rights_code"
                                        data-position="bottom left"
                                        data-inverted=""
                                        href="https://www.nex-tone.co.jp/YouTube_FAQ/"
                                        target="_blank">
                                        NexTone管理楽曲
                                    </a>
                                </template>
                                <div class="ui label">
                                    {{data.category}}
                                </div>
                                <a class="ui label" v-bind:href="data.inst_license" target="_blank">
                                    <i class="linkify icon"></i>音源利用規約
                                </a>
                            </div>
                            <div class="right floated" style="padding-top: .5em;">
                                最終更新日: {{data.updated_at}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui leaderboard" style="margin-top: 5em;">
                    <a href="https://twitter.com/OkuriSae" target="_blank">
                        <img src="img/sae_ad.png" class="ui centered image" style="width:100%;">
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <h3>免責事項</h3>
            <p>
                本サービスを利用、または本サービスの提供する情報を利用した際のいかなるトラブルに関しても、管理人は一切の責任を負いかねます。<br>
                検索結果は二次創作に利用可能なことを保証するものではありません。必ずご利用の前に該当楽曲のライセンスを確認してください。<br>
                本サービスの楽曲データ、URL、および権利情報は古くなる場合があります。
            </p>
            <div class="ui divider"></div>
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="https://twitter.com/OkuriSae" target="_blank">©︎ 2020 Okuri Sae《VSinger》</a>
                <a class="item" href="https://github.com/OkuriSae/karaoke-inst-finder" target="_blank">Powered by GitHub Pages</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/arrange_inst_data.js"></script>
    <script src="js/arrange_inst_finder.js"></script>

</body>

</html>