<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="favicon.ico" />
    
    <!-- Site Properties -->
    <title>公式音源検索（ボカロ系） | Off-Vocal Finder</title>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>

    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }

        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }

        .main.container {
            margin-top: 7em;
            margin-bottom: 2em;
        }

        .wireframe {
            margin-top: 2em;
        }

        .ui.grid>.column:not(.row) {
            padding-bottom: 0em;
        }

        .ui.grid {
            padding-bottom: 1em;
        }

        .ui.selection.dropdown {
            min-width: 10em;
        }

        table {
            width: 100%;
            table-layout: fixed;
            word-break: break-all;
            word-wrap: break-all;
        }
    </style>

</head>

<body>

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="index.html" class="header item" >
                Off-Vocal Finder
            </a>
            <a href="official_inst_finder.html" class="header item">
                公式音源検索（ボカロ系）
            </a>
            <a href="arrange_inst_finder.html" class="header item">
                アレンジ音源検索
            </a>
        </div>
    </div>

    <div class="ui main text container">
        <h1 class="ui header">ボカロ系公式音源検索</h1>
        <p>
            ボーカロイド系楽曲における、著作者が公開しているOff-Vocal音源を検索できるサービスです。
            <a href="https://www.karatetsu.com/vocala/pickup/ranking.php">ボカロ月間カラオケランキング(2020年10月8日時点)</a>
            の上位1,000件の楽曲を収録しています。
        </p>
        <p>楽曲データや権利情報の修正/追加のリクエストは<a href="https://docs.google.com/forms/d/e/1FAIpQLSdrAmmPJENIblFaCe82ztV0i3tlz3K3eFeeE-Q6m2FgwQztGw/viewform?usp=sf_link">こちら</a>からお願いします。</p>

        <h3>データの絞り込み</h3>

        <div class="ui grid" id="search">

            <div class="four wide column" style="min-width: 180px;">
                <select class="ui dropdown item" ref="type" v-on:change="search">
                    <option value="0">楽曲名</option>
                    <option value="1">アーティスト</option>
                </select>
            </div>

            <div class="nine wide column">
                <div class="ui search item">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="Search" v-on:keyup="search" ref="word">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>

            <div class="six wide column">
                <div class="ui checkbox item">
                    <input type="checkbox" name="hasInst" ref="hasInst" v-on:change="search">
                    <label>音源が公開されているもののみ</label>
                </div>
            </div>

            <div class="ten wide column">
                <div class="ui checkbox item">
                    <input type="checkbox" name="hasLisence" ref="hasLisence" v-on:change="search">
                    <label>ライセンスが明確なもののみ</label>
                </div>
            </div>
        </div>

        <div id="list">
            <div class="ui horizontal divider">検索結果: {{datas.length}} 件中 {{start}} - {{end}} 件を表示</div>

            <div class="ui divided items">
                <div class="item" v-for="data in datas.slice(start-1, end)" style="padding-bottom: 0;">
                    <div class="content">
                        <div class="header">
                            <a v-bind:href="`https://www.google.com/search?q=${data.song_name} / ${data.artist}`"
                                target="_blank">
                                {{data.song_name}} / {{data.artist}}
                            </a>
                        </div>

                        <div class="description">
                            <template v-if="data.inst_found">
                                <a v-bind:href="data.inst_url" target="_blank">
                                    <button class="ui blue basic button">
                                        <i class="linkify icon"></i>公式音源あり
                                    </button>
                                </a>
                            </template>
                            <template v-else>
                                <button class="ui gray basic button">
                                    Inst Not Found
                                </button>
                            </template>
                            <a v-bind:href="`https://www.google.com/search?q=${data.song_name} カラオケ`" target="_blank">
                                <button class="ui green basic button">
                                    <i class="search icon"></i>カラオケ検索
                                </button>
                            </a>
                            <a v-bind:href="`https://www.google.com/search?q=${data.song_name} 歌詞`" target="_blank">
                                <button class="ui green basic button">
                                    <i class="search icon"></i>歌詞検索
                                </button>
                            </a>
                        </div>

                        <div class="description">音源利用規約/許諾：
                            <template v-if="data.lisence_link">
                                <a v-bind:href="data.lisence" target="_blank" style="word-break: break-all;">{{data.lisence}}</a>
                            </template>
                            <template v-else>
                                {{data.lisence}}
                            </template>
                        </div>

                        <div class="extra">
                            <div class="right floated">最終更新日: {{data.updated_at}}</div>
                            <div>{{data.note}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="ui center aligned grid" id="paging" style="margin-top: 1em;">
            <div class="ten wide column">
                <div class="ui mini input">
                    <input type="text" style="width:50px" ref="start" value="1" v-on:change="paging">
                </div>
                -
                <div class="ui mini input">
                    <input type="text" style="width:50px" ref="end" value="20" v-on:change="paging">
                </div>
                件を表示
            </div>
        </div>

        <div class="ui horizontal divider" style="margin-top: 2em; margin-bottom: 2em;">
            <i class="gift icon"></i>
            あなたへのオススメ
            <i class="gift icon"></i>
        </div>

        <div id="recommend">
            <div class="ui divided items">
                <div class="item" v-for="data in recommends" style="padding-bottom: 0;">
                    <div class="content">
                        <div class="header">
                            <a v-bind:href="`https://www.google.com/search?q=${data.song_name} / ${data.artist}`"
                                target="_blank">
                                {{data.song_name}} / {{data.artist}}
                            </a>
                        </div>

                        <div class="description">
                            <template v-if="data.inst_found">
                                <a v-bind:href="data.inst_url" target="_blank">
                                    <button class="ui blue basic button">
                                        <i class="linkify icon"></i>公式音源あり
                                    </button>
                                </a>
                            </template>
                            <template v-else>
                                <button class="ui gray basic button">
                                    Inst Not Found
                                </button>
                            </template>
                            <a v-bind:href="`https://www.google.com/search?q=${data.song_name} カラオケ`" target="_blank">
                                <button class="ui green basic button">
                                    <i class="search icon"></i>カラオケ検索
                                </button>
                            </a>
                            <a v-bind:href="`https://www.google.com/search?q=${data.song_name} 歌詞`" target="_blank">
                                <button class="ui green basic button">
                                    <i class="search icon"></i>歌詞検索
                                </button>
                            </a>
                        </div>

                        <div class="description">音源利用規約/許諾：
                            <template v-if="data.lisence_link">
                                <a v-bind:href="data.lisence" target="_blank">{{data.lisence}}</a>
                            </template>
                            <template v-else>
                                {{data.lisence}}
                            </template>
                        </div>

                        <div class="extra">
                            <div class="right floated">最終更新日: {{data.updated_at}}</div>
                            <div>{{data.note}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <h3>免責事項</h3>
            <p>
                本サービスを利用、または本サービスの提供する情報を利用した際のいかなるトラブルに関しても、管理人は一切の責任を負いかねます。<br>
                検索結果は二次創作に利用可能なことを保証するものではありません。必ずご利用の前に該当楽曲のライセンスを確認してください。<br>
                本サービスの楽曲データ、URL、および権利情報は古くなる場合があります。
            </p>
            <div class="ui divider"></div>
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="https://twitter.com/OkuriSae">©︎ 2020 Okuri Sae《VSinger》</a>
                <a class="item" href="https://github.com/OkuriSae/karaoke-inst-finder">Powered by GitHub Pages</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/official_inst_data.js"></script>
    <script src="js/official_inst_finder.js"></script>

</body>

</html>